<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    {% block favicon %} 
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="manifest" href="/site.webmanifest">
    {% endblock favicon %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% block css %} "{% static 'css/style.css' %}" {% endblock css %}>
    <title>{% block title %} Robert's Blog {% endblock title %}</title>
</head>
<body>
    {% block header %} 
    {% endblock header %}
    {% block content %} 
    {% endblock content %}
    {% block authentication %} 
    {% endblock authentication %}
    <script src={% block scripts %} "{% static 'scripts/home.js' %}" {% endblock scripts %}></script>
</body>
</html>